* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: #808080;
}

.footer {
    background-color: black;
    background-size: cover;
    background-position: center;
    align-items: left;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #ff5043;
    transition: .4s;
}

.btn {
    background-color: #ff5043;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn1 {
    background-color: #ff5043;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 7px;
    transition: transform .4s;
}

.btn2 {
    background-color: #385898;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 7px;
    transition: transform .4s;
}

.btn3 {
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 100px;
    border-radius: 5px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}

.btn1:hover {
    transform: scale(1.2);
}

.btn2:hover {
    transform: scale(1.2);
}

.textarea {
    background-color: #ffffff;
    color: #666666;
    padding: 1em;
    outline: none;
    border-radius: 10px;
    border: 2px solid transparent;
    font-family: "Heebo", sans-serif;
    font-weight: 1000;
    font-size: 16px;
    line-height: 1.4;
    width: 412px;
    height: 58px;
    transition: all 0.2s;
    resize: none;
}

.post-input-box {
    padding-left: 55px;
    padding-top: 20px;
    color: #ccc;
    border-radius: 25%;
}

.post-input-box-textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.fa {
    padding: 14px;
    font-size: 40px;
    height: 65px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    margin: 5px 6px;
    border-radius: 100%;
    float: center;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.box2 {
    background: #ff0;
    border-radius: 10px 140px 30px 140px;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    background: #ff5043;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: #181818;
    font-family: Arial black;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #e9e7e6;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    position: sticky;
}

.side {
    flex: 18%;
    position: sticky;
    background-color: #FFEAE5;
    border-radius: 25px;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 15px;
    place-items: center;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.side-align {
    text-align: center;
}

 ::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.main {
    flex: 70%;
    min-height: calc(100vh - 51px - 70px);
    background-color: #ffffff;
}

.rightside {
    flex: 20%;
    position: sticky;
    float: right;
    background-color: #FFEAE5;
    border-radius: 25px;
    width: 43%;
    height: 40%;
    padding: 20px;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 3.5%;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.textarearight {
    background-color: #ffffff;
    color: #666666;
    padding: 1em;
    outline: none;
    border-radius: 10px;
    border: 2px solid transparent;
    font-family: "Heebo", sans-serif;
    font-weight: 1000;
    font-size: 16px;
    line-height: 1.4;
    width: 300px;
    height: 58px;
    transition: all 0.2s;
    resize: none;
}

.mainscrollable {
    height: 750px;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.circular_image {
    float: center;
    margin-top: 40px;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.write-post-container {
    width: 512px;
    background-color: #FFEAE5;
    border-radius: 10px;
    padding: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    color: white;
}

.write-post-container-comment {
    width: 512px;
    height: 100px;
    background-color: #414141;
    border-radius: 10px;
    padding: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    color: white;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.user-profile img {
    width: 45px;
    border-radius: 100%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: 30px;
    font-weight: 500;
    color: black;
}

.user-profile small {
    font-size: 12px;
}

.post-cont-public {
    text-align: center;
    font-weight: 500;
    color: black;
}

.textarea-mid {
    background-color: #ffffff;
    color: #666666;
    padding: 1em;
    outline: none;
    border-radius: 10px;
    border: 2px solid transparent;
    font-family: "Heebo", sans-serif;
    font-weight: 1000;
    font-size: 16px;
    line-height: 1.4;
    width: 412px;
    height: 58px;
    transition: all 0.2s;
    resize: none;
}

textarea-comment {
    background-color: #ffffff;
    color: #666666;
    padding: 1em;
    outline: none;
    border-radius: 10px;
    border: 2px solid transparent;
    font-family: "Heebo", sans-serif;
    font-weight: 1000;
    font-size: 16px;
    line-height: 1.4;
    width: 412px;
    height: 58px;
    transition: all 0.2s;
    resize: none;
}

.feed {
    background-color: #ffffff;
    border-radius: 20px;
}

.feed-box {
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    height: 550px;
    width: 600px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.feed1 {
    background-color: #ffffff;
    border-radius: 20px;
}

.feed-box1 {
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    width: 600px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.feed-profile-top {
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    height: 88px;
    margin-bottom: 10px;
    width: 600px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.user-profile-top {
    display: flex;
    align-items: center;
}

.user-profile-top img {
    width: 55px;
    border-radius: 100%;
    border-color: rgb(0, 0, 0);
    margin-right: 15px;
}

.profile-main-text {
    text-align: center;
    font-family: arial black;
    font-weight: 1000;
    font-size: 20 px;
}

.rightside_two {
    background-color: rgb(60, 60, 60);
    border-radius: 25px;
    width: 500px;
    height: 30%;
    float: right;
    margin-top: 55%;
    align-content: center;
}

.user-profile-top_one {
    display: flex;
    align-items: center;
}

.user-profile-top_img1 {
    width: 45px;
    border-radius: 100%;
    border-color: rgb(0, 0, 0);
    margin-right: 15px;
}